/* Draft mode
.step {
    border: 1px solid #000;
}

/*
  Global disposition for any slide
*/
.pheader {
    position: absolute;
    visibility: visible;
    opacity: 1;
    font-size: 30px !important;
    padding: 3px 10px;
    width: 400px;
    text-align: right;
    z-index: 1;
}
.past .pheader{
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 5px 0 20px;
    font-variant:small-caps;
    line-height: 50px;
}

/* Slide header */

.figures img.innerStep {
    position: absolute;
    left: auto;
}
.header1 {
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    background-color: #EEE;
    padding: 0 20px 60px;
    margin:-40px 0 40px -400px;
    width:2000px;
}
ol.header1 li{
    text-align: right !important;
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 1200px;
}
ol.header li{
    text-align: right !important;
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
    padding: 0 !important;
    margin: 0 !important;
}
.header2 {
    font-size: smaller;
    background-color: #EEE;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    background-color: #EEE;
    padding: 0 20px;
    margin:-40px 0 20px -60px;
    width:858px;
}
.header2 li {
    text-align: right !important;
    padding: 0 !important;
    margin: 0 !important;
}
ol.header2 li{
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
}

/* Bullet point */
ul li.bullet0  {
    padding-left: 40px;
    background: url('../icons/square-black-16.png') left 26px no-repeat;
}
ul.bullet1{
    margin: 10px 0;
}
ul.bullet1 li{
    margin: 3px 0 15px;
}
.bullet1 ul li{
    margin: 0;
}
ul.bullet1 li:before {
    content: "\2022";
    padding-right: 12px;
}
ul.bullet2{
    margin-bottom: 10px;
    font-size: smaller;
}
ul.bullet2 li{
    margin-left: 20px;
}
.bullet2 ul li{
    margin: 0;
}
ul.bullet2 li:before {
    content: "\2022";
    padding-right: 10px;
}
ul.bullet3 li{
    margin-left: 40px;
}
.bullet3 li:before {
    content: "\2022";
    padding-right: 10px;
    font-size: 15px;
}
li.thus {
    list-style: none;
}
li.thus:before {
    content: "\00BB" !important;
}

p.img img {
    text-align: center;
}
ul li p.img {
    margin-left: -20px;
}
p.img img {
    max-width:800px;
}
/* Inner Step appear */
.innerStep.appear, .step.appear {
    opacity: 0;
    visibility: visible;
}
.innerStep.appear.stepped, .step.appear.present, .step.appear.past {
    opacity: 1;
    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
div.publication {
    font-weight: normal;
    font-size: 20px;
    float:right;
    text-align: right;
    margin: 20px 0 0;
    font-style: italic;
}
/*
  Particular slide settings
*/
/* 1st page */
#title {
    font-size:36px;
    text-align: right;
}
#title h1 {
    font-size: 49px;
    text-align: center;
    padding: 0.15em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    margin: 40px 0;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}
#title div#name {
    float: left;
    font-size: larger;
}
#title p.details{
    margin:0;
    padding:0 5px 0;
}
#title div#logo {
    text-align: center;
    background-color:#FFF;
    padding: 10px 0;
}
#title div#logo img {
    vertical-align: middle;
    width: 250px;
    padding: 0 20px;
}
/* Summary */
#Summary ol {
    margin: 30px 0 0 20px;
    font-size: 1.05em;
}
#Summary ol li {
    color: #000;
    line-height: 30px;
    padding-left: 10px;
    margin: 20px 0;
    list-style-type: upper-roman;
}

/* State of art */
#Atmospheric.past, #spectrum.past, #Methodology.past, #DB.past, #MT_TB1.step {
    opacity: 1;
}
#stateofart h3{
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
#stateofart h1 {
    margin-bottom: 100px;
}
#stateofart blockquote {
    font-size: 25px;
    padding: 20px 0 70px 20px;
    margin: 0;
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 10px;
}#stateofart blockquote img {
    float: right;
    margin-top: -10px;
    width: 300px;
}
#stateofart blockquote em {
    padding-left: 30px;
    display: block;
}
#stateofart blockquote cite {
    float:right;
}
#spectrum {
    text-align: center;
    border: none;
}
#spectrum img {
    width: 1400px;
    margin-left: -300px;
    margin-top: -50px;
    float: left;
}
#spectrum ul {
    text-align: center;
}
#spectrum ul li {
    float: left;
    font-size: 32px;
}
#spectrum ul img {
    position: relative;
    height: 230px;
    width: 250px;
    margin: 5px;
}

.spectrum {
    width:500px;
    font-size: 30px;
    padding-top: 160px;
}
.spectrum ul li{
    padding-left: 35px;
}
.spectrum ul li.ok {
    background: url('../icons/check-24.png') left no-repeat transparent;
}
.spectrum ul li.nok {
    background: url('../icons/warning-24.png') left no-repeat transparent;
}
.spectrum ul li.icon {
    list-style-type: none;
    text-align: center;
}

.spectrum ul li.icon img {
    vertical-align: middle;
    margin: 2px 14px;
}
#MWtoday h1 {
    font-size: 55px;
    padding-bottom: 300px;
}
#MWtoday {
    font-size: 32px;
}
#MWtoday ul li {
    width: 700px;
}
#MWtoday ul li ul{
    height: 300px;
}
#MWtoday ul img {
    margin: 5px 0 0 320px;
    width: 350px;
    z-index: -1;
    position: absolute;
}
#MWtoday ul li#MWtoday3 img{
    margin: 5px 0 0 400px;
}
/* Force image in future step to be displayed */
#MWtoday .future {
    opacity: 1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
#MWtoday .future ul,#MWtoday .future span {
    opacity: 0.3;

    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}
#MWtoday .active ul,#MWtoday .active span {
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}
/* END - Force image in future step to be displayed */
#MWtodayrole {
    margin:0;
    padding: 0;
    text-align:center;
    width: 900px;
}
#MWtodayrole h2 {
    padding: 0 0 0 60px;
    background: url('../images/rightwards_double_arrow_u21D2_icon_64x64.png') center left no-repeat;
    width: 900px;
    font-size: 36px;
    margin: 70px 0 0;
    border: 1px solid #000;

}
#drawbacks li {
    font-size: 40px;
    margin: 40px 0;
    padding-left: 40px;
    background: url('../icons/square-black-16.png') left 26px no-repeat;
}
#apports .innerStep {
    visibility: visible;
    opacity: 0.3;
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}
#apports .innerStep.stepped {
    opacity: 1;
}
#Atmospheric .past {
    opacity: 1;
}
#Atmospheric
 h1 {
    font-size: 1.55em;
    width:900px;
    margin-bottom: 30px;
}
#Atmospheric ul {
    margin: 0 0 20px 30px;
}
#Atmospheric ul li {
    font-size: 29px;
    margin: 0;
}
#Atmospheric p {
    text-align: center;
}
#Atmospheric p.specify {
    text-align: right;
    margin:0;
    font-size: 25px;
}
#Atmospheric img {
    width: 650px;
    margin-left: 10px;
}
#ETR {
    margin-top: 100px;
}
#ETR p {
    text-align: center;
}
#ETR p img {
    width:750px;
    padding: 10px 30px;
    border: 1px solid #333;
}
#ETR h1 {
    font-size: 1.35em;
    margin: 20px 0;
    padding: 0
}
#ETR ol {
    list-style: lower-alpha;
}
#ETR ol li {
    font-size: 25px;
    margin: 10px 0 20px 20px;
}
#Weight_function p img {
    float: left;
    padding-right: 30px;
}
#Weight_function ul{
    margin-top: 40px;
    font-size: 0.8em;
}
#Weight_function ul ul.bullet3{
    margin: 5px 0 0 350px;
}
#MW_spectrum1 p {
    text-align: center;
}
#MW_spectrum1.past {
    opacity: 1;
}
#MW_spectrum1 h6 {
    font-size: 40px;
    text-align: center;
}
#MW_spectrum2 li.imply {
    background: url('../images/rightwards_double_arrow_u21D2_icon_64x64.png') center left no-repeat;
    padding-left: 55px;
    font-size: 33px;
    list-style-type: none;
    margin-bottom: 40px;
}
#MW_spectrum2 {
    margin-left: 500px;
    font-size: 35px;
}
#Intro_final.past, #Intro_scheme .past, #Intro_scheme .future {
    opacity: 1;
}
#Intro_scheme .blue {
    color: rgb(113, 201, 244);
}
#Intro_scheme .green {
    color: rgb(174, 220, 82);
}
#Intro_scheme .red {
    color: rgb(237, 71, 38);
}
#Intro_scheme div {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    line-height: 10px;
    color: #666;
}
#Intro_scheme img.earth {
    width:600px;
}
#Intro_scheme .sat {
    width: 500px;
    margin-left: 20px;
}
#Intro_scheme .sat img {
    width:200px;
    margin: 0;
}
#Intro_scheme .sat div {
    font-size: 50px;
    line-height: 50px;
    float:right;
}
#Intro_scheme .sat span {
    display: block;

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}
#Intro_scheme .sat div span.rotAH{
    -webkit-transform: rotate(-40deg);
    -moz-transform:    rotate(-40deg);
    -ms-transform:     rotate(-40deg);
    -o-transform:      rotate(-40deg);
    transform:         rotate(-40deg);
}
#Intro_scheme .sat div span.rotH{
    -webkit-transform: rotate(40deg);
    -moz-transform:    rotate(40deg);
    -ms-transform:     rotate(40deg);
    -o-transform:      rotate(40deg);
    transform:         rotate(40deg);
}
div.result {
    border: 1px solid #000;
    width: 520px;
    padding: 0;
}
div.result img{
    max-height: 100px;
    margin: 10px 30px;
}
div.result img.arrow{
    margin-bottom: 25px;
}
div.gear {
    border: none;
    margin: 0;
    width: 190px;
}
div.gear div {
    text-align: center;
    line-height: 15px;
}
#Intro_scheme div.gear {
    margin: 10px 0 0;
    padding-top: 70px;
    border: 4px solid rgba(0, 0, 0, .3);
    border-top: none;
    border-radius: 0 0 10px 10px;
}
div.gear img {
    position: absolute;
}
#Intro_scheme div.gear img {
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px;
    margin: -20px 0 0 -60px;
}
div.gear.future img.animated, div.gear.past img.animated {
    visibility: hidden;
}
div.gear.present img.fix {
    visibility: hidden;
}
div.gear .innerStep img {
    background-color: transparent;
    border: none;
    visibility: hidden;
}
div.gear .innerStep.stepped img {
    visibility: visible;
}
div.gear .innerStep img.question {
    margin: 100px 0 0 100px !important;
    width: 180px;
}
div.gear .innerStep img.people {
    margin: 270px 0 0 -130px !important;
    width: 400px;
}
#Methodology img {
    float:right;
    margin-top: -120px;
    width:450px;
}
#Methodology ul.bullet1 li {
    margin-top: 70px;
}
#Methodology ul.bullet1 ul li {
    margin-top: 0;
}
#Methodology2 ul li.hard{
    color: #666666;
}
#Neurons li.details {
    font-size: 30px;
}
#DB p.details, #DB2 p.details {
    margin-left: 20px;
    text-align: left;
}
#DB p, #DB p ul li.thus, #DB2 {
    font-size: 30px;
}
#DB .img img {
    width: 700px;
}
ul#DB2 {
    margin-top: 200px;
}
ul#DB2 li {
    background: url('../images/rightwards_double_arrow_u21D2_icon_64x64.png') no-repeat left -10px;
    padding-left: 70px;
}
#Validation {
    height: 700px;
}
#Validation img {
    width: 750px;
    position: absolute;
}
#Applications {
    color: #E50;
}
#Applications .details {
    border: 1px solid #e50;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 0.9em;
    margin: 20px 220px 0 35px;

}
#Applications li {
    margin: 50px 30px 50px 0;
}
#Applications li.meghatropiques {
    background: url("../images/logomt.jpeg") right top no-repeat;
}
#Applications li.microwat {
    background: url("../images/microwat.png") right top no-repeat;
    background-size:200px;
}
#MT_intro
{
    margin-bottom: 100px;
}
#MT_intro h1 {
    font-size: 60px;
}
#MT_intro ul {
    font-size: 28px;
}
#MT_intro ul li {
    margin-bottom: 40px;
}
#MT_intro img {
    float:right;
    width: 400px;
}
#MT_orbit {
    font-size: 33px;
}
#MT_orbit div {
    text-align: center;
}
#MT_orbit img {
    width: 600px;
}
#MT_instru img {
    width: 450px;
    float: right;
    margin: 30px -105px 0 10px;
}
#MT_instru ul {
    margin-top: 39px;
    font-size: 27px;
}
#instrumentation div.step {
    font-size: 28px;
}
#instrumentation div div {
    float: right;
    margin: 10px -50px 0 10px;
    width: 400px;
}
#instrumentation div ul li {
    margin-bottom: 12px;
}
#instrumentation div table {
    margin: 50px 0 0 -20px;
    width: 450px
}
#instrumentation div#Saphir table {
    margin: 50px 0 0;
}
#instrumentation div img {
    margin-top: 20px;
    width: 400px;
}
#instrumentation div#Saphir div {
    margin: 10px -100px 0 0;
    width: 435px;
}
#instrumentation div#Saphir p  {
    margin: 0 0 0 -100px;
    display: block;
}
#instrumentation div#Saphir img  {
    width: 285px;
}
#instrumentation tr {
    text-align: center;
    border: 1px solid #666666;
}
#instrumentation td {
    font-size: 22px;
    padding: 0 10px;
}
#instrumentation tr.odd td,#instrumentation tr.even td {
    vertical-align: middle;
}
#instrumentation thead {
    background-color: #929FAE;
    color: #FFFFFF;
}
#instrumentation tr.odd {
    background-color: #E0E5E9;
}
#instrumentation tr.even {
    background-color: #fff;
}
#Calib_intro .past {
    opacity: 1;
}
#Calib_intro1 {
    width:700px
}
#Calib_intro2 {
    font-size: 20px;
    margin-top: -80px;
}
#Calib_intro2.future img {
    background-color: indianred;
    }
#Calib_intro2 img {
    border-radius: 10px;
    margin: 5px 0 0 -10px;
    border: 1px solid #666666;
    background-color: #AEDC52;
    -webkit-transition: background-color 4s linear;
    -moz-transition:    background-color 4s linear;
    -o-transition:      background-color 4s linear;
    -ms-transition:     background-color 4s linear;
    transition:         background-color 4s linear;
}
#Calib_intro3 {
    margin-top: 172px;
    width:210px;
}
#Calib_intro4 {
    margin-top: -192px;
    width:212px;
}
#Calib_intro5 {
    width:180px;
}
#Calib_intro6 {
    margin-top:180px;
    font-size: 30px;
}
#Calib_intro6 li {
    margin-top:10px;
    font-size: 30px;
}
#Calibration div.step {
    text-align: center;
}
#Calibration h1 {
    font-size: 48px;
}
#Calibration ul {
    text-align: left;
    margin: -20px 0 0 10px;
    font-size: 23px;
}
#Calibration ul li i {
    font-size: 20px;
}
#Telsem ul li {
    font-size: 30px;
}
#Telsem cite {
    float:right;
    margin: 20px 0 0;
    font-size: 0.85em;
    font-style: italic;
}
#Telsem_atlas {
    font-size: 25px;
}
#Telsem_atlas img {
    float:left;
    margin: 0 5px 0 -50px;
}
#Telsem_atlas div {
    text-align: center;
    padding: 0;
}
#Telsem_atlas ul.bullet3 li {
    text-align: left;
    font-size: 0.8em;
}
#Telsem_atlas div img {
    float: none;
    margin: 0;
    width:800px;
}
#Telsem_interpolator.step {
    font-size: 28px;
}
#Telsem_interpolator.step .thus:before {
    font-size: 30px;
}
#Telsem_interpolator.step .thus {
    margin: 30px 0;
    border: 1px solid #000;
    padding: 5px;
    width: 850px;
}
#Telsem h6 {
     font-size: 20px;
     text-align: right;
     font-style: italic;
}
#Telsem_validation.step ul.bullet3 {
    font-size: 23px;
}
#Telsem_validation img {
    margin: 10px 0 0 -150px;
    width:800px;
    float: left;
}
#Telsem_validation h6 {
    margin: 50px -20px 0 0;
}
#Telsem cite {
    margin: 0;
    font-size: 22px;
    font-weight: normal;
    text-align:right;
}
#MT .step {
    font-size: 30px;
}
#MT_variables.step {
    background: url("../images/megha.png") no-repeat right bottom;
}
#MT .stick li {
    margin: 10px 30px;
    padding:1px 10px;
    color:#fff;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #666;
}
#MT .primary li {
    font-weight: bold;
}
#MT li.land {
    background-color: #AEDC52;
}
#MT li.ocean {
    background-color: #71C9F4;
}
#MT_prelaunch {
    margin-top: 40px;
}
#MT #MT_IC h6 {
    font-size: 22px;
    text-align: right;
    font-style: italic;
    float:right;
    width:320px;
    margin: 10px -30px 0 0;
}
#MT_IC img {
    width:580px;
    margin-left: -90px;
}
#MT #MT_IC .innerStep h6 {
    float:left;
    width: 280px;
    margin: 50px 10px 0 -30px;
}
#MT #MT_IC .innerStep img {
    width: 580px;
    margin:30px -40px 0 10px;
}
#MT_scheme img {
    width:850px;
}
#MT_scheme img.innerStep {
    position: absolute;
}
#MT_RH.step, #MT_TCWV.step {
    font-size: 25px;
}

#MT_validation {
    font-size:25px;
}
#MT_validation img {
    width: 400px;
}
#MT_validation h6 {
    font-size: 0.8em;
}
#MT_validation .top h6 {
    float: left;
    width:400px;
    margin: 40px 10px 0 0;
}
#MT_validation .bottom h6 {
    float:right;
    width:400px;
    margin: 40px 0 0 10px;
}
#MT_TB1.step {
    font-size:25px;
    height: 500px;
}
#MT_TB1 div {
    position: absolute;
}
#MT_TB1 div.innerStep {
    color: transparent;
}
#MT_TB1 div.innerStep .add {
    color: #000000;
}
#MT_TB1.step.past {
    opacity: 1;
}
#MT_TB1.step img {
    float:left;
    margin-left: -400px;
}
#MT_TB2.step img {
    margin: 48px 0 0 -82px;
    width:624px;
}
