/*
  Global disposition for any slide
*/

h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 5px 0 20px;
    font-variant:small-caps;
    line-height: 50px;
}

/* Slide header */
.header1 {
    background-color: #f0f0f0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    background-color: #EEE;
    padding: 0 20px 60px;
    margin:-40px 0 40px -400px;
    width:2200px;
}
ol.header1 li{
    text-align: right !important;
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 1200px;
}
ol.header li{
    text-align: right !important;
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
    padding: 0 !important;
    margin: 0 !important;
}
.header2 {
    font-size: smaller;
    background-color: #EEE;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    background-color: #EEE;
    padding: 0 20px;
    margin:-40px 0 20px -60px;
    width:858px;
}
ol.header2 li{
    text-align: right !important;
    list-style-type: upper-roman !important;
    list-style-position: inside !important;
    padding: 0 !important;
    margin: 0 !important;
}

/* Bullet point */
ul li.bullet0  {
    padding-left: 40px;
    background: url('../icons/square-black-16.png') left 26px no-repeat;
}
ul.bullet1{
    margin: 10px 0;
}
ul.bullet1 li{
    margin: 3px 0 15px;
}
.bullet1 ul li{
    margin: 0;
}
ul.bullet1 li:before {
    content: "\2022";
    padding-right: 12px;
}
ul.bullet2{
    margin-bottom: 10px;
    font-size: smaller;
}
ul.bullet2 li{
    margin-left: 20px;
}
.bullet2 ul li{
    margin: 0;
}
ul.bullet2 li:before {
    content: "\2022";
    padding-right: 10px;
}
ul.bullet3 li{
    margin-left: 40px;
}
.bullet3 li:before {
    content: "\2022";
    padding-right: 10px;
    font-size: 15px;
}
li.thus:before {
    content: "\00BB" !important;
}

p.img img {
    text-align: center;
}
ul li p.img {
    margin-left: -20px;
}
p.img img {
    max-width:800px;
}
/*
  Particular slide settings
*/
/* 1st page */
#title {
    font-size:36px;
    text-align: right;
}
#title h1 {
    font-size: 49px;
    text-align: center;
    padding: 0.15em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    margin: 40px 0;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}
#title div#name {
    float: left;
    font-size: larger;
}
#title p.details{
    margin:0;
    padding:0 5px 0;
}
#title div#logo {
    text-align: center;
    background-color:#FFF;
    padding: 10px 0;
}
#title div#logo img {
    vertical-align: middle;
    width: 250px;
    padding: 0 20px;
}
/* Summary */
#Summary ol {
    margin: 10px 0 0 20px;
    font-size: 1.05em;
}
#Summary ol li {
    color: #000;
    line-height: 30px;
    padding-left: 10px;
    margin: 14px 0;
    list-style-type: upper-roman;
}
#Summary ol li.innerStep{
    visibility: visible;
    opacity: 0.5;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}
#Summary li.innerStep.stepped{
    opacity: 1;
    -webkit-transition: 0.5s;
    -moz-transition:    0.5s;
    -ms-transition:     0.5s;
    -o-transition:      0.5s;
    transition:         0.5s;
}

/* State of art */
div#spectrum.past
{
    opacity: 1;
}
#stateofart h3{
    text-align: center;
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 10px;
}
#stateofart h1 {
    margin-bottom: 100px;
}
#stateofart blockquote {
    padding-bottom: 35px;
    font-size: 25px;
    padding: 20px 0 70px 20px;
    margin: 0px;
    background-color: #FFF;
    border: 1px solid #666;
    border-radius: 10px;
}#stateofart blockquote img {
    float: right;
    margin-top: -10px;
    width: 300px;
}
#stateofart blockquote em {
    padding-left: 30px;
    display: block;
}
#stateofart blockquote cite {
    float:right;
}
#spectrum {
    text-align: center;
    border: none;
}
#spectrum img {
    width: 1400px;
    margin-left: -300px;
    margin-top: -50px;
    float: left;
}
#spectrum ul {
    text-align: center;
}
#spectrum ul li {
    float: left;
    font-size: 32px;
}
#spectrum ul img {
    position: relative;
    height: 230px;
    width: 250px;
    margin: 5px;
}

.spectrum {
    width:500px;
    font-size: 30px;
    padding-top: 160px;
}
.spectrum ul li{
    padding-left: 35px;
}
.spectrum ul li.ok {
    background: url('../icons/check-24.png') left no-repeat transparent;
}
.spectrum ul li.nok {
    background: url('../icons/warning-24.png') left no-repeat transparent;
}
.spectrum ul li.icon {
    list-style-type: none;
    text-align: center;
}

.spectrum ul li.icon img {
    vertical-align: middle;
    margin: 2px 14px;
}
#MWtoday h1 {
    font-size: 55px;
    padding-bottom: 300px;
}
#MWtoday {
    font-size: 32px;
}
#MWtoday ul li {
    width: 700px;
}
#MWtoday ul li ul{
    height: 300px;
}
#MWtoday ul img {
    margin: 5px 0 0 320px;
    width: 350px;
    z-index: -1;
    position: absolute;
}
#MWtoday ul li#MWtoday3 img{
    margin: 5px 0 0 400px;
}
/* Force image in future step to be displayed */
#MWtoday .future {
    opacity: 1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}
#MWtoday .future ul,#MWtoday .future span {
    opacity: 0.3;

    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}
#MWtoday .active ul,#MWtoday .active span {
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}
/* END - Force image in future step to be displayed */
#MWtodayrole {
    margin:0;
    padding: 0;
    text-align:center;
    width: 900px;
}
#MWtodayrole h2 {
    padding: 0 0 0 60px;
    background: url('../images/rightwards_double_arrow_u21D2_icon_64x64.png') center left no-repeat;
    width: 900px;
    font-size: 36px;
    margin: 70px 0 0;
    border: 1px solid #000;

}
#drawbacks li {
    font-size: 40px;
    margin: 40px 0;
    padding-left: 40px;
    background: url('../icons/square-black-16.png') left 26px no-repeat;
}
#apports .innerStep {
    visibility: visible;
    opacity: 0.3;
    -webkit-transition: opacity 0.5s;
    -moz-transition:    opacity 0.5s;
    -ms-transition:     opacity 0.5s;
    -o-transition:      opacity 0.5s;
    transition:         opacity 0.5s;
}
#apports .innerStep.stepped {
    opacity: 1;
}
#Atmospheric h1 {
    font-size: 1.55em;
    width:900px;
    margin-bottom: 30px;
}
#Atmospheric ul {
    margin: 0 0 20px 30px;
}
#Atmospheric ul li {
    font-size: 29px;
    margin: 0;
}
#Atmospheric p {
    text-align: center;
}
#Atmospheric p.specify {
    text-align: right;
    margin:0;
    font-size: 25px;
}
#Atmospheric img {
    width: 650px;
    margin-left: 10px;
}
#ETR {
    margin-top: 90px;
}
#ETR p {
    text-align: center;
}
#ETR p img {
    width:750px;
    padding: 10px 30px;
    border: 1px solid #333;
}
#ETR h1 {
    font-size: 1.35em;
    margin: 20px 0;
    padding: 0
}
#ETR ol {
    list-style: lower-alpha;
}
#ETR ol li {
    font-size: 25px;
    margin: 10px 0px 20px 20px;
}
#MW_spectrum1 p {
    text-align: center;
}
#MW_spectrum1.past {
    opacity: 1;
}
#MW_spectrum1 h6 {
    font-size: 40px;
    text-align: center;
}
#MW_spectrum2 li.imply {
    background: url('../images/rightwards_double_arrow_u21D2_icon_64x64.png') center left no-repeat;
    padding-left: 55px;
    font-size: 33px;
    list-style-type: none;
    margin-bottom: 40px;
}
#MW_spectrum2 {
    margin-left: 500px;
    font-size: 35px;
}
#Intro_final.past, #Intro_scheme .past, #Intro_scheme .future {
    opacity: 1;
}
#Intro_scheme .blue {
    color: rgb(113, 201, 244);
}
#Intro_scheme .green {
    color: rgb(174, 220, 82);
}
#Intro_scheme .red {
    color: rgb(237, 71, 38);
}
#Intro_scheme div {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    line-height: 10px;
    color: #666;
}
#Intro_scheme img.earth {
    width:600px;
}
#Intro_scheme .sat {
    width: 500px;
    margin-left: 20px;
}
#Intro_scheme .sat img {
    width:200px;
    margin: 0;
}
#Intro_scheme .sat div {
    font-size: 50px;
    line-height: 50px;
    float:right;
}
#Intro_scheme .sat span {
    display: block;

    -webkit-transition-delay: 0.25s;
    -moz-transition-delay:    0.25s;
    -ms-transition-delay:     0.25s;
    -o-transition-delay:      0.25s;
    transition-delay:         0.25s;
}
#Intro_scheme .sat div span.rotAH{
    -webkit-transform: rotate(-40deg);
    -moz-transform:    rotate(-40deg);
    -ms-transform:     rotate(-40deg);
    -o-transform:      rotate(-40deg);
    transform:         rotate(-40deg);
}
#Intro_scheme .sat div span.rotH{
    -webkit-transform: rotate(40deg);
    -moz-transform:    rotate(40deg);
    -ms-transform:     rotate(40deg);
    -o-transform:      rotate(40deg);
    transform:         rotate(40deg);
}
#Intro_scheme div.result {
    border: 1px solid #000;
    width: 520px;
    padding: 0;
}
#Intro_scheme div.result img{
    max-height: 100px;
    margin: 10px 30px;
}
#Intro_scheme div.result img.arrow{
    margin-bottom: 25px;
}
#Intro_scheme div.gear {
    width:350px;
    margin-top: 10px;
    padding-top: 70px;
    border: 4px solid rgba(0, 0, 0, .3);
    border-top: none;
    border-radius: 0 0 10px 10px;
}
#Intro_scheme div.gear img {
    background-color: #f0f0f0;
    border: 1px solid rgba(0, 0, 0, .3);
    position: absolute;
    margin: -20px 0 0 -60px;
    padding: 3px;
}
#Intro_scheme div.gear.future img.animated, #Intro_scheme div.gear.past img.animated {
    visibility: hidden;
}
#Intro_scheme div.gear.present img.fix {
    visibility: hidden;
}
#Intro_scheme div.gear .innerStep img {
    background-color: transparent;
    border: none;
    visibility: hidden;
}
#Intro_scheme div.gear .innerStep.stepped img {
    visibility: visible;
}
#Intro_scheme div.gear img.question {
    margin: 100px 0 0 100px;
    width: 180px;
}
#Intro_scheme div.gear img.people {
    margin: 270px 0 0 -130px;
    width: 400px;
}
#Methodology img {
    float:right;
    margin-top: -120px;
    width:450px;
}
#Methodology ul.bullet1 li {
    margin-top: 70px;
}
#Methodology ul.bullet1 ul li {
    margin-top: 0;
}
#DB p.details {
    font-size:smaller;
    margin-left: 20px;
    text-align: left;
}
#DB .img img {
    width: 700px;
}
#Validation .img img {
    width: 750px;
}
#Applications {
    color: #E50;
}
#Applications .details {
    border: 1px solid #e50;
    border-radius: 4px;
    padding: 5px 15px;
    margin: 10px 35px;
    font-size: 0.9em;
    margin: 20px 220px 0 35px;

}
#Applications li {
    margin: 50px 30px 50px 0;
}
#Applications li.meghatropiques {
    background: url("../images/logomt.jpeg") right top no-repeat;
}
#Applications li.microwat {
    background: url("../images/microwat.png") right top no-repeat;
    background-size:200px;
}