/*
  Global disposition for any slide
*/

h1 {
    font-size: larger;
    text-align: center;
    margin: 25px 0 15px;
}
/* Slide header */
.header {
    font-size: smaller;
    background-color: #EEE;
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .1);
    background-color: #EEE;
    padding: 0 20px;
    margin:-40px 0 20px -60px;
    width:858px;
}
ol.header li{
    text-align: right;
    list-style-type: upper-roman;
    list-style-position: inside;
}
/* Imply sign */
.imply {
    padding-left: 50px;
    /*background:;*/
}
/* Bullet point level 1 */
ul.bullet1 li {
    list-style-type: square;
}
/*
  Particular slide settings
*/
/* 1st page */
#title {
    font-size:36px;
    text-align: right;
}
#title h1 {
    font-size: 50px;
    text-align: center;
    padding: 0 0.1em;
    background: rgba(255,255,255,0.5);
    text-shadow: -1px -1px 2px rgba(100,100,100,0.9);
    border-radius: 0.2em;
    margin: 40px 0;

    -webkit-transform: translateZ(50px);
    -moz-transform:    translateZ(50px);
    -ms-transform:     translateZ(50px);
    -o-transform:      translateZ(50px);
    transform:         translateZ(50px);
}
#title div#name {
    float: left;
    font-size: larger;
}
#title p.details{
    margin:0;
    padding:0 5px 0;
}
#title div#logo {
    text-align: center;
    background-color:#FFF;
    padding: 10px 0;
}
#title div#logo img {
    vertical-align: middle;
    width: 250px;
    padding: 0 20px;
}
/* Summary */
div.Summary ol li.step {
    font-size: 35px;
    color: #000;
    line-height: 30px;
}
/* Put numerotation on summary */
div.Summary li{
    padding-left: 10px;
}
div.Summary ol li {
    list-style-type: upper-roman;
}
div.SummaryOngoing ol li {
    list-style-type: none;
}
/* trick to highlight each item of the list without moving */
div.Summary p.past, div.Summary p {
    font-size: 40px;
    text-align: center;
    color: #000;
    width: 1080px;
    opacity: 1;
    background-color: #EEE;
}
div.SummaryOngoing ol li.step.future{visibility: hidden;}
div.Summary ol li.step.Objectives  {margin: -200px 0 0;}
div.Summary ol li.step.Introduction{margin: -140px 0 0;}
div.Summary ol li.step.Methods     {margin: -80px 0 0;}
div.Summary ol li.step.Megha       {width:1200px;margin: -10px 0 0 150px;}
div.Summary ol li.step.Microwat    {width:1200px;margin: 80px 0 0 150px;}
div.Summary ol li.step.Conclusion  {margin:155px 0 0;}

/* State of art */
#stateofart {
    opacity: 1;
}
#spectrum {
    text-align: center;
    margin: 340px 0 0;
}
#spectrum img {
    width: 700px;
}
#visible, #infrared, #microwave {
    position: ;
    font-size:smaller;
    line-height:27px;
    width: 320px;
}
#visible {
    margin: 20px 0 0 500px;
}
#infrared {
    margin:200px 0 0 200px;

}
#microwave {
;
}